body{
  font-style: Verdana, sans-serif;
  background-image: url("spiration_dark.png");
  color: white;
}

.inner{
  background-color: #415472;
  height: 300px;
  margin: 5px;
  align-content: center;
  overflow-y: scroll;
  padding: 5px;
}